# Mainnet RPC URL, via either Alchemy or Metamask
# Get from https://www.alchemy.com/rpc/ethereum
MAINNET_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/${ALCHEMY_API_KEY}
# Get from https://developer.metamask.io/key/all-endpoints
MAINNET_RPC_URL=https://mainnet.infura.io/v3/${METAMASK_API_KEY}

# Etherscan API key for verification (optional)
# Get from https://etherscan.io/myapikey
ETHERSCAN_API_KEY=your_etherscan_api_key
